<?xml version="1.0" encoding="UTF-8"?>
<Configuration strict="true" packages="jack.project.mmall">

    <Appenders>
        <Appender name="STOUT" type="Console">
            <Layout type="PatternLayout"
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p{WARN=Warning, DEBUG=Debug, ERROR=Error, TRACE=Trace, INFO=Info} [%t] %C{1}.java #%M():%L --- %m%n"/>
        </Appender>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="STOUT"/>
        </Root>
        <logger name="jack.project.mmall.common.TokenCache" level="DEBUG" additivity="false">
            <AppenderRef ref="STOUT"/>
        </logger>
    </Loggers>
</Configuration>